/*
    TED Talks
    Final Deliverable

    Styles shiny app
*/

/* styles body of app */
body {
    background-color: #262B2F;
    color: #BABABA;
}

/* styles titles on tab pages */
h1 {
    color: #E62B1E;
}

/* styles all second level headings */
h2 {
  color: white;
}

a:focus, a:visited {
  color: #800080 !important;
  text-decoration: none;
}

/* styles widgets */
.well {
  background-color: #1C1E21;
}
